<a:skin xmlns:a="http://ajax.org/2005/aml">
    <a:menu name="menu">
        <a:style><![CDATA[
            .menu  {
                background  : #FFFFFF url("images/menu_context_left.gif") repeat-y top left;
                margin      : -1px 0 0 0;
                _margin     : 0 0 0 0;
                padding     : 0;
                z-index     : 10000;
                position    : absolute;
                font-family : Tahoma;
                font-size   : 11px;
                color       : #4b4b4b;
                border      : 1px solid #c3c3c3;
                display     : none;
            }
            
            .menu BLOCKQUOTE {
                list-style-type : none;
                margin          : 0;
                padding         : 0;
                border          : 0;
                background      : url("images/menu_context_right.gif") repeat-y top right;
            }

            .menu DIV {
                padding     : 4px 31px 4px 23px;
                white-space : nowrap;
                cursor      : default;
            }
            
            .menu>DIV {
                height : 13px;
            }
            
            .menu DIV.hover {
                background : #25a8e7 url(images/menu_context_left_over.gif) repeat-y top left;
                color      : white;
            }
        
            .menu DIV.menu_divider {
                border-style : solid;
                border-width : 1px 0 0 0;
                border-color : #c3c3c3;
                overflow     : visible;
                margin       : 1px 3px 1px 3px;
                padding      : 0;
                font-size    : 1px;
            }
        
            .menu>DIV.menu_divider {
                height : 0;
            }
        
            .menu DIV SPAN {
                right        : 5px;
                margin-top   : 0px;
                z-index      : 10;
                text-align   : right;
                padding-left : 15px;
                margin-right : -15px;
            }
                    
            .menu div.submenu SPAN {
                background : url(images/submenu_arrow.gif) no-repeat right top;
                width      : 4px;
                height     : 7px;
                display    : block;
                position   : absolute;
                right      : 8px;
                margin     : 3px 0 0 0;
                z-index    : 10;
            }
            
            .menu DIV.hover SPAN {
                background-position : right -15px;
            }
        
            .menu DIV.submenu>SPAN {
                margin-top : -10px;
            }
        
            .menu DIV.disabled {
                color : #c3c3c3;
            }
            
            .menu U {
                width      : 16px;
                height     : 16px;
                position   : absolute;
                left       : 3px;
                margin-top : -1px;
            }
            
            .menu DIV.selected U {
                background-image    : url(images/radio.gif);
                background-repeat   : no-repeat;
                background-position : 0 0;
            }
            
            .menu DIV.checked U {
                background-image    : url(images/check.gif);
                background-repeat   : no-repeat;
                background-position : 0 0;
            }
            
            .menu DIV.hover U {
                background-position : 0 -16px;
            }
        
            .menu DIV.menuShadowTop {
                position   : absolute;
                left       : 0;
                top        : -2px;
                margin     : 0;
                padding    : 0 4px 0 0;
                width      : 100%;
                height     : 2px;
                overflow   : hidden;
                z-index    : -10;
                background : url("images/menu_context_shtb.png") no-repeat top right;
            }
                    
            .menu DIV.menuShadowRight {
                position   : absolute;
                right      : -4px;
                bottom     : -4px;
                margin     : 0;
                padding    : 0 0 4px 0;
                width      : 4px;
                height     : 100%;
                overflow   : hidden;
                z-index    : -10;
                background : url("images/menu_context_shlr.png") no-repeat bottom right;
            }
        
            .menu DIV.menuShadowBottom {
                position   : absolute;
                bottom     : -4px; 
                right      : 0;
                margin     : 0;
                padding    : 0 0 0 3px;
                width      : 100%;
                height     : 100%;
                overflow   : hidden;
                z-index    : -10;
                background : url("images/menu_context_shtb.png") no-repeat bottom left;
            }
        
            .menu DIV.menuShadowLeft {
                position   : absolute;
                left       : -3px;
                bottom     : 0;
                margin     : 0;
                padding    : 2px 0 0 0;
                width      : 3px;
                height     : 100%;
                overflow   : hidden;
                z-index    : -10;
                background : url("images/menu_context_shlr.png") no-repeat top left;
            }
        ]]></a:style>
        <a:style condition="apf.isIE6"><![CDATA[
            .menu DIV.menuShadowTop, 
            .menu DIV.menuShadowRight, 
            .menu DIV.menuShadowLeft, 
            .menu DIV.menuShadowBottom {
               display : none;
            }
        ]]></a:style>
        
        <a:presentation>
            <a:main container="blockquote" overlay="strong">
                <blockquote class="menu">
                    <blockquote>
                
                    </blockquote>
                    <div class="menuShadowTop"> </div>
                    <div class="menuShadowRight"> </div>
                    <div class="menuShadowBottom"> </div>
                    <div class="menuShadowLeft"> </div>
                </blockquote>
            </a:main>
            <a:item 
              caption = "text()" 
              icon    = "u" 
              hotkey  = "span" 
              inherit = "true">
                <div><u> </u>-
                    <span> </span>
                </div>
            </a:item>
            <a:divider inherit="true">
                <div class="menu_divider"></div>
            </a:divider>
        </a:presentation>
    </a:menu>
</a:skin>