<a:menu name="menu">
    <a:style><![CDATA[
        .menu  {
            background  : #FFFFFF url("images/menu_context_left.gif") repeat-y top left;
            margin      : -1px 0 0 0;
            _margin     : 0 0 0 0;
            padding     : 0;
            z-index     : 10000;
            position    : absolute;
            font-family : Tahoma;
            font-size   : 11px;
            color       : #4b4b4b;
            border      : 1px solid #c3c3c3;
            display     : none;
        }
        
        .menu blockquote {
            list-style-type : none;
            margin          : 0;
            padding         : 0;
            border          : 0;
            background      : url("images/menu_context_right.gif") repeat-y top right;
        }
    
        .menu div {
            padding     : 4px 31px 4px 23px;
            white-space : nowrap;
            cursor      : default;
        }
        
        .menu>div {
            height : 13px;
        }
        
        .menu div.hover {
            background : #25a8e7 url(images/menu_context_left_over.gif) repeat-y top left;
            color      : white;
        }
    
        .menu div.menu_divider {
            border-style : solid;
            border-width : 1px 0 0 0;
            border-color : #c3c3c3;
            overflow     : visible;
            margin       : 1px 3px 1px 3px;
            padding      : 0;
            font-size    : 1px;
        }
    
        .menu>div.menu_divider {
            height : 0;
        }
    
        .menu div span {
            right        : 5px;
            margin-top   : 0px;
            z-index      : 10;
            text-align   : right;
            padding-left : 15px;
            margin-right : -15px;
        }
                
        .menu div.submenu span {
            background : url(images/submenu_arrow.gif) no-repeat right top;
            width      : 4px;
            height     : 7px;
            display    : block;
            position   : absolute;
            right      : 8px;
            margin     : 3px 0 0 0;
            z-index    : 10;
        }
        
        .menu div.hover span {
            background-position : right -15px;
        }
    
        .menu div.submenu>span {
            margin-top : -10px;
        }
    
        .menu div.disabled {
            color : #c3c3c3;
        }
        
        .menu u {
            width      : 16px;
            height     : 16px;
            position   : absolute;
            left       : 3px;
            margin-top : -1px;
        }
        
        .menu div.selected u {
            background-image    : url(images/radio.gif);
            background-repeat   : no-repeat;
            background-position : 0 0;
        }
        
        .menu div.checked u {
            background-image    : url(images/check.gif);
            background-repeat   : no-repeat;
            background-position : 0 0;
        }
        
        .menu div.hover u {
            background-position : 0 -16px;
        }
    
        .menu div.menuShadowTop {
            position   : absolute;
            left       : 0;
            top        : -2px;
            margin     : 0;
            padding    : 0 4px 0 0;
            width      : 100%;
            height     : 2px;
            overflow   : hidden;
            z-index    : -10;
            background : url("images/menu_context_shtb.png") no-repeat top right;
        }
                
        .menu div.menuShadowRight {
            position   : absolute;
            right      : -4px;
            bottom     : -4px;
            margin     : 0;
            padding    : 0 0 4px 0;
            width      : 4px;
            height     : 100%;
            overflow   : hidden;
            z-index    : -10;
            background : url("images/menu_context_shlr.png") no-repeat bottom right;
        }
    
        .menu div.menuShadowBottom {
            position   : absolute;
            bottom     : -4px; 
            right      : 0;
            margin     : 0;
            padding    : 0 0 0 3px;
            width      : 100%;
            height     : 100%;
            overflow   : hidden;
            z-index    : -10;
            background : url("images/menu_context_shtb.png") no-repeat bottom left;
        }
    
        .menu div.menuShadowLeft {
            position   : absolute;
            left       : -3px;
            bottom     : 0;
            margin     : 0;
            padding    : 2px 0 0 0;
            width      : 3px;
            height     : 100%;
            overflow   : hidden;
            z-index    : -10;
            background : url("images/menu_context_shlr.png") no-repeat top left;
        }
    ]]></a:style>
    <a:style condition="apf.isIE6">
        .menu div.menuShadowTop, 
        .menu div.menuShadowRight, 
        .menu div.menuShadowLeft, 
        .menu div.menuShadowBottom {
           display : none;
        }
    </a:style>
    <a:presentation>
        <a:main container="blockquote" overlay="strong">
            <blockquote class='menu'>
                <blockquote>
            
                </blockquote>
                <div class="menuShadowTop"> </div>
                <div class="menuShadowRight"> </div>
                <div class="menuShadowBottom"> </div>
                <div class="menuShadowLeft"> </div>
            </blockquote>
        </a:main>
        <a:item caption="text()" icon="u" hotkey="span" inherit="true">
            <div><u> </u>-
                <span> </span>
            </div>
        </a:item>
        <a:divider inherit="true">
            <div class='menu_divider'></div>
        </a:divider>
    </a:presentation>
</a:menu>